{% extends "capstone/layout.html" %}
{% load static %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <br>
            <h5>Create New Link</h5>
            
            <form action="{% url 'create_short_url' %}" method="post" id="form_create_url" >
                <div class="form-group">
                {% csrf_token %}
                <label >Destination</label>
                <textarea class="form-control" name="url_asli" rows="2" placeholder="Paste your URL here" required></textarea>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="password_true" >
                    <label class="form-check-label" for="password_true">Link with password</label>
                </div>

                <div class="form-group" id="form_Password">
                    <br>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                </div>

                <br>
                <button type="submit" class="btn btn-primary">Shorten</button>
            </form>
            
        </div>

        <div class="col-sm-2">
        </div>
        

    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'capstone/create_url.js' %}"></script>
{% endblock %}